{
  "cache": false,
  "check-coverage": false,
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/*.js",
    "**/*.spec.ts",
    "**/*.test.ts",
    "**/__mocks__/**/*",
    "**/*.test.tsx",
    "**/__tests__/**/*"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}
